.notify{
	border-radius: 2px;
	background-color: #E65757 ;
	color:white;
	padding-left: 50px;
}


.wide_margin{
	margin-top: 130px;
}

.heading h2{
	text-align: center !important;
}
.navbar-brand{
				padding: 0px !important;
}

.search_row{
	margin-top: 90px;
}

